html {
    scroll-behavior: smooth;
}

/* header */
header {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header nav .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    width: 100%;

    font-size: .8em;
}

header nav .navbar-left, 
header nav .navbar-right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2em;

    padding: 0 10px 0 10px;
} 

header nav .container .navbar-left div, 
header nav .container .navbar-right div {
    padding: 20px 10px;
    cursor: pointer;
}

header nav .container .navbar-left #logo {
    cursor: pointer;
}

/* bonus: how to color margin bottom when hover on navbar */
header nav .container .navbar-left div:hover, 
header nav .container .navbar-right div:hover{
    border-bottom: 2px solid #0061ff;;
}
/* /header */

/* main */
/* main-top */
main .main-top {
    background-color: #b4d0e7;
}

main .main-top .container {
    max-width: 850px;
    margin: auto;
    padding: 100px 0 0 0;
}

main .main-top .container h1 {
    font-size: 3.5em;
    font-weight: 800;
    padding-bottom: 40px;    
}

main .main-top .container .main-top-inner {
    display: flex;
    flex-flow: row;

    position: relative;
}

main .main-top .container .main-top-inner .main-top-inner-text{
    width: 30%;
    font-size: .8em;
}

main .main-top .container .main-top-inner .main-top-inner-text div{
    padding-bottom: 30px;
}

/* bonus: arrow-down leads to main-center section */
main .main-top .container .main-top-inner .main-top-inner-text #arrow-down {
    color: black;
    font-size: 3em;
    padding-bottom: 10px;
}

#arrow-down a:visited {
    color: black;
}

main .main-top .container .main-top-inner .main-top-inner-img {
    width: 70%;
}

main .main-top .container .main-top-inner .main-top-inner-img img {
    position: absolute;
    top: 0;
    right: 0;   
    
    width: 70%;
} 
/* /main-top */

/* main-center */
main .main-center .container,
main .main-bottom .container {
    max-width: 700px;
    margin: auto;
    padding: 100px 0 0 0;
}

main .main-center .container h2,
main .main-bottom .container h2 {
    font-size: 2em;
    padding-bottom: 40px;  
}

main .main-center .container .input-fatturazione {
    font-size: .8em;
    padding-bottom: 40px; 
    display: flex; 
    gap: 1.5em
}

main .main-center .container .business-plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 2.5em;
}

main .main-center .container .business-plans .business-plan-col {
    font-size: .8em;
    border: 1px solid #d4d4d6;
    width: 30%
}

.business-plan-name {
    text-align: center;
    border-bottom: 1px solid #d4d4d6;
    padding: 5px;
}

.business-plan-col .business-plan-text {
    padding: 1.2em;
}

.business-plan-text h3{
    font-size: 1.5em;
    padding-bottom: .8em;
}

.business-plan-text .price{
    font-weight: bold;
    padding-bottom: .8em;
}

.business-plan-col .business-plan-text .frequency{
    color: #717272;
    padding-bottom: 3em;
}

.business-plan-col ul {
    list-style-type: none;
}

.business-plan-col ul li {
    padding-bottom: 1em;
}

.business-plan-col .plan-char li:last-child {
    padding-bottom: 3em;
}

.business-plan-col .plan-char li:first-child:before {
    font-family: 'FontAwesome';
    content: '\f406'; 
    padding-right: 0.3em;
}

.business-plan-col .plan-char li:nth-child(2):before {
    font-family: 'FontAwesome';
    content: '\f07b';
    padding-right: 0.3em;
}

.business-plan-col .plan-char li:last-child:before {
    font-family: 'FontAwesome';
    content: '\f1e0'; 
    padding-right: 0.3em;
}

.business-plan-col .plan-pro li:before {
    font-family: 'FontAwesome';
    content: '\f00c';  
    color: #0061ff;
    padding-right: 0.3em; 
  }

.business-plan-col .business-plan-text button.free-trial {
    margin-bottom: 1.5em;
    width: 100%;
}

.business-plan-col .business-plan-text hr {
    width: 20%;
    margin: 2em 0 3em 0;
}

.business-plan-col .business-plan-text strong {
    display: block;
    padding-bottom: 1.5em;
}

main .main-center .container .business-plans-bottom {
    font-size: .8em;
    border: 1px solid #d4d4d6;
    margin-bottom: 7em;
}

main .main-center .container .business-plans-bottom .container-flex {
    padding: 1.2em;
    display: flex;
    justify-content: space-between;
}

.business-plans-bottom .container-flex .business-plan-text {
    width: 75%
}

.business-plans-bottom .business-plan-text .price{
    padding-bottom: 3em;
}

main #partner {
    display: flex;
    justify-content: space-between;
    gap: 2.5em;

    font-size: .8em;
    padding-bottom: 6em;
}

main #partner #partner-img{
    width: 65%; 
}

main #partner #partner-img img{
    width: 100%; 
}

main #partner #partner-text {
    width: 35%;
    padding-top: 3em;
}

main #partner #partner-text h3 {
    font-size: 1.5em;
    padding-bottom: .8em;
}

main #partner #partner-text p {
    padding-bottom: 1.5em;
}

main #operations {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main #operations .operation-box {
    width: calc(100% / 3);
    height: calc(100% / 2);
    padding: 1em;
}

main #operations .operation-box img{
    width: 100%;
}

main #operations .operation-box .operations-header {
    font-size: 1.2em;
    padding-bottom: 1em;
}

main #operations .operation-box .operations-text {
    font-size: .8em;
    padding-bottom: .8em;
}
/* /main-center */

/* main-bottom */
main .main-bottom .main-bottom-header h2 {
    width: 70%;
}

main .main-bottom .container {
    padding-bottom: 6em;
}

main .main-bottom .clients {
    display: flex;
}

main .main-bottom .clients-left,
main .main-bottom .clients-center,
main .main-bottom .clients-right {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

main .main-bottom .clients-left,
main .main-bottom .clients-right {
    display: flex;
    flex-flow: row wrap;
}

main .main-bottom .square {
    width: calc(100% / 2);
    height: calc(100% / 2);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

main .main-bottom #square-green {
    background-color: #a2d39b;
    border: 12px solid #d1e9cd;
}

main .main-bottom #square-bordeaux {
    background-color: #61082b;
}

main .main-bottom #square-skyblue {
    background-color: #0093ce;
}

main .main-bottom #square-red {
    background-color: #ff1c1c;
}

main .main-bottom #square-grey {
    background-color: #f5f5f5;
}

main .main-bottom #square-darkred {
    background-color: #d5001f;
}

main .main-bottom #square-lightblue {
    background-color: #b4d0e7;
}

main .main-bottom #square-blue {
    background-color: #0d2481;
}

main .main-bottom #square-yellow {
    background-color: #ffd830;
}

main .main-bottom .square img {
    width: 50%;
    height: auto;
    filter: invert(1);
} 

main .main-bottom .clients-center {
    font-size: .8em;
    padding: 3em;
}

main .main-bottom .clients-center img,
main .main-bottom .clients-center p {
    padding-bottom: 3em;
}

main .main-bottom .clients-center hr {
    margin-bottom: 3em;
    width: 20%;
}

main .main-bottom .main-bottom-try {
    background-color: #b4d0e7;
}

main .main-bottom .main-bottom-try .container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
}

main .main-bottom .main-bottom-faq .container hr {
    margin: 1.5em 0;
}

/* main-bottom-faq */
.question span {
    font-size: .8em;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.question i {
    font-size: .6em;
}

.answer {
    font-size: .8em;
    padding-top: 1em;
    display: none;
}

.question:hover .answer {
    display: block;
}
/* /main-bottom-faq */
/* /main-bottom */

/* footer */
footer {
    background-color: black;
    color: white;
}

footer .container {
    max-width: 850px;
    margin: auto;
}

footer .container .footer-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    padding: 4em 0;
    
    font-size: .8em;
}

footer .container .footer-inner .footer-col h4 {
    font-size: 1.2em;
    padding-bottom: 1em;
}

footer .container .footer-inner .footer-col ul {
    list-style-type: none;
}

footer .container .footer-inner .footer-col ul li{
    padding-bottom: 0.5em;
}

footer .container .footer-inner .footer-col ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer .container hr {
    width: 15%;
    margin-bottom: 2em;
}

footer .container .language {
    color: #989999;
    font-size: .8em;
    padding-bottom: 3em;
}

footer .container .language .fa-caret-up{
    cursor: pointer;
}
/* /footer */

/* buttons */
.buttons {
    padding: .5em .8em;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.blue-buttons {
    background-color: #0061ff;
    color: white;
}

.white-buttons {
    background-color: white;
}

#partner-text .white-buttons {
    border: 1px solid black;
}